build/*
.vscode/*
*~
*.o
*.d
*.map
*.bin
*.htm
*.lst
*.axf
*.crf
*.lnp
*.plg
*.tra
*.iex
*.dep
*.bak
*.uvgui.*
*.uvopt
tests/avr/atmega16-MCU/vTAL-atmelStudio/vTAL-atmelStudio/Release/*
*.atsuo
tests/avr/atmega16-MCU/vTAL-atmelStudio/vTAL-atmelStudio/Debug/*